@model InsanKaynaklarıProje.Models.Entity.Maliye
@{
    ViewBag.Title = "DepartmanIslemleri";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>


    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <style>
        body {
            background-color: powderblue;
        }

        .img1 {
            width: 760px;
        }

        section {
            margin-top: 5%;
        }
    </style>
</head>
<body>
    <!-- Registration 4 - Bootstrap Brain Component -->
    <section class="p-3 p-md-4 p-xl-5">
        <div class="container">
            <div class="card border-light-subtle shadow-sm">
                <div class="row g-0">
                    <div class="col-12 col-md-6">

                        <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy" src="~/Content/image/img1.jpg" alt="image">
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card-body p-3 p-md-4 p-xl-5">
                            <div class="row">
                                <div class="col-12">
                                    <div class="mb-5">

                                    </div>
                                </div>
                            </div>
                            @using (Html.BeginForm("MaliyeKayıt", "Maliye", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="row gy-3 gy-md-4 overflow-hidden">
                                    <div class="col-12">
                                        <label class="form-label">Ürün Adı<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.Urun, new { @class = "form-control" })
                                    </div>

                                    <div class="col-12">
                                        <label class="form-label"> Maliyet <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.maliyet, new { @class = "form-control" })
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label"> Satış <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.satis, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="d-grid">
                                    <button class="btn bsb-btn-xl btn-primary" type="submit">KAYDET</button>
                                </div>
                                @Html.HiddenFor(x => x.MaliyeID)

                            }

                            @*enctype*@


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</body>
</html>


